.portfolio {
  height: auto;
  background: var(--bg-image);
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 100px;
}
.projects_card {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 10px;
  height: 100%;
  gap: 1rem;
  position: relative;
  transition: all 0.3s;
}

.projects_card:nth-child(even) {
  direction: rtl;
}
.projects_card_image {
  display: grid;
  grid-row: span 2;
  justify-content: center;
  align-items: flex-start;
}

.project_card_info {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  padding: 0 0.5rem;
  position: relative;
}
.project_card_description {
  text-align: left;
}
.projects_card:nth-of-type(2n + 1)
  .project_card_info
  .project_card_description {
  text-align: justify;
}

.projects_card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 0.5rem;
  flex-wrap: wrap;
}

.projects_language_container {
  display: flex;
}
.projects_language {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: var(--smaller-font-size);
  color: grey;
}
.projects_action_box {
  display: flex;
  gap: 1rem;
}
.projects_action_box a {
  font-size: var(--h3-font-size);
  color: var(--text-color);
}
.projects_action_box a:hover {
  color: var(--title-color);
}
.projects_card:nth-of-type(2n + 1) .project_card_info {
  align-items: flex-end;
}

.social_preview:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}
.project_card_info .title {
  word-break: break-all;
  font-size: var(--h2-font-size);
  color: var(--title-color);
  line-height: 1.75rem;
  font-weight: var(--font-bold);
}

.project_created_date {
  font-size: var(--small-font-size);
  color: grey;
}

.social_preview {
  background-position: center;
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  transition: 0.2s all ease-out;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(2px);
}

.popup_content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 400px;
  margin-bottom: 10px;
}

.btn_close_popup {
  float: right;
  cursor: pointer;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1024px) {
}

/* For large devices */
@media screen and (max-width: 992px) {
  .projects_card_image {
    grid-row: span 1;
  }
  .projects_card_footer {
    grid-column-start: span 2;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .portfolio {
    padding: 1rem 0;
  }
  .projects_card {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects_card_image {
    display: flex;
    justify-content: center;
    grid-column: span 3;
  }
  .project_card_info {
    grid-column: span 3;
  }

  .projects_container {
    grid-template-columns: 1fr;
  }
  .projects_card {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .projects_card {
    padding: 0;
    margin: 0;
  }
  .projects_container {
    margin-top: 20px;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
