.skills_container {
  justify-content: center;
  border: 1px solid #ccc;
}
.skills_container > * {
  border: 1px solid #ccc;
}
.tab_container {
  justify-content: center;
  max-width: 100%;
  width: 900px;
  min-height: 300px;
  display: flex;
  column-gap: 2rem;
  padding: 0 2rem;
  position: relative;
}
.tab_container > div {
  border: 1px solid #ccc;
}
.vertical_tabs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 200px;
}
.vertical_tabs li {
  font-size: var(--small-font-size);
}
.tab_content {
  width: 600px;
}

.vertical_tabs li {
  cursor: pointer;
  padding: 10px;
}

.vertical_tabs li.active {
  /* background-color: #ccc; */
}

.skills_box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px black;
  border-radius: 0.75rem;
  padding: 1rem;
}
.skills_group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills_data {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.skills_info {
  line-height: 1.5;
}
.skills_level {
  font-size: var(--small-font-size);
  color: grey;
}
.skills_data svg {
  width: 40px;
}
.skills_name {
  font-size: var(--normal-font-size);
}

/*=============== BREAKPOINTS ===============*/
@media (min-width: 1024px) {
}

/* For large devices */
@media screen and (max-width: 992px) {
  .skills_container {
    display: flex;
    flex-direction: column;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .skills {
    margin-top: 70px;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
