#home {
  display: flex;
  align-items: center;
  background: var(--bg-image);
}
.home_container {
  height: calc(100% - 40px);
  padding: 0 5rem;
  align-items: center;
}
.home_container_left {
  position: relative;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  row-gap: 1rem;
}
.home_container_right {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.home_container_right img {
  width: 450px;
}
.container-name {
  display: flex;
  flex-direction: column;
}
.container-name h1 {
  font-size: var(--big-font-size);
  font-weight: var(--font-extra-bold);
}
.container-name h3 {
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
  text-align: justify;
}

.container-name > :nth-child(1) {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
}
.container-name > :nth-child(2) {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  color: var(--title-color);
  line-height: 1;
}
.container-name > :nth-child(3) {
  font-size: var(--h3-font-size);
}
.container-name > :nth-child(4) {
  font-size: var(--small-font-size);
  color: grey;
}

.profile-container {
  position: relative;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  background: var(--title-color);
  overflow: hidden;
  pointer-events: none;
}

/* cv_btn */
.cv_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--title-color);
  box-shadow: #ffdfe2 4px 4px 0px;
  border-radius: 8px;
  padding: 15px 10px;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  min-width: 120px;
  width: 100px;
  height: 40px;
  transform: translate(1) translate(0, 0);
  transition: transform 225ms, box-shadow 225ms;
}

.cv_btn:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: #094c66 0px 0px 0px;
}

.cv_btn::after {
  transform: translateY(0);
}
.cv_btn:hover {
  transform: scale(1.05) translate(0, -0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 992px) {
  .home {
    height: 100vh;
  }
  .home_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .home_container_left {
  }
  .home_container_right {
    width: 300px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home_container {
    padding: 0 2rem;
  }
  .home_container_right {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .home_container_right {
    width: 200px;
  }
  .home {
    height: auto !important;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
