.contact {
  height: auto !important;
  background: linear-gradient(
    to left top,
    #3c4257,
    #303444,
    #232632,
    #181a20,
    #090a0f
  );
}

.section_title {
  font-size: var(--h2-font-size);
}
.card_title {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.card_title svg {
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.card_container {
  grid-template-columns: repeat(2, auto);
  display: grid;
  padding: 1rem 2rem;
}
.card {
  display: flex;
  flex-direction: column;
}
.info_card {
  background: url(../../assets/character.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 500px;
}
.card_info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}
.contact_card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.contact_card_data {
  display: flex;
  flex-direction: column;
}
.contact_card_icon {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}
.card_data_title {
  font-weight: var(--font-normal);
  font-size: var(--small-font-size);
  color: grey;
}
/* send.contact_btn */
.btn_container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.contact_btn {
  max-width: 100%;
  width: 150px;
  background: #e8e8e8;
  color: black;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: all 0.3s;
  height: 50px;
}
.contact_btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.contact_btn:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.contact_btn span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}
.contact_btn svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}
.contact_btn .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}
.contact_btn:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}
.contact_btn:hover svg {
  transform: rotate(45deg);
}

/* card */

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 1rem;
  background-color: #f5f7fa;
}

.group {
  position: relative;
}

.form .group label {
  font-size: var(--small-font-size);
  color: #090a0f;
  position: absolute;
  top: -10px;
  left: 10px;
  transition: all 0.3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  color: black;
  font-weight: var(--font-normal);
}

.form .group input:placeholder-shown + label,
.form .group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #3366cc;
}

.form .group input:focus + label,
.form .group textarea:focus + label {
  top: -10px;
  left: 10px;
  color: #3366cc;
  font-weight: var(--font-semi-bold);
  font-size: var(--smaller-font-size);
}

.form .group textarea {
  resize: none;
  height: 150px;
}

/*=============== BREAKPOINTS ===============*/
@media (min-width: 1024px) {
}

/* For large devices */
@media screen and (max-width: 992px) {
  .contact_btn .svg-wrapper {
    margin: 0px;
  }
  .info_card {
    background-size: 400px;
  }
  .message_card {
    margin: 0px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .card_container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-items: center;
  }
  .info_card {
    background-size: 300px;
  }
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card_container {
    row-gap: 1rem;
  }
  .info_card {
    background-size: 200px;
    /* background: none; */
  }
  .card_data {
    word-break: break-all;
  }
  .card_container {
    padding: 0.5rem;
  }
  .card_title {
    padding: 10px;
  }
  .card_info {
    margin-top: 0;
  }
  .card_data {
    font-size: var(--small-font-size);
  }
  .card_data_title {
    font-size: var(--smaller-font-size);
  }
  .contact_container {
    padding: 0rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .info_card {
    background-size: 150px;
  }
}
