.navbar {
  z-index: 50;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  column-gap: 3rem;
  transition: all 0.3s ease;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 3.5rem;
}

.navbar.scrolled {
  background-color: var(--body-color);
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.navbar.scrolled .nav-menu {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
}

.logo {
  height: 50px;
  cursor: pointer;
  margin-top: 7px;
}

.navbar-logo {
  padding-left: 5rem;
  width: 200px;
  position: absolute;
  height: auto;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 3rem;
  width: 100%;
  cursor: pointer;
  padding-right: 7rem;
  gap: 1rem;
}

.nav_links {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  height: 40px;
  margin: 5px;
  align-items: center;
  padding: 7px;
}

.nav-icon {
  display: none;
}

.nav_links::before {
  margin-left: 0;
}

.nav_links::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--title-color);
  display: block;
  transition: 0.5s;
}

.nav_links:hover::after {
  width: 100%;
}

.nav_active::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--title-color);
  display: block;
  transition: 0.5s;
  width: 100%;
}
.nav_active {
  margin: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
  .navbar-logo {
    display: none;
  }
  .nav-menu {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    overflow: hidden;
    position: fixed;
    bottom: 1rem;
    z-index: 50;
    width: 100%;
  }
  .navbar-container {
    max-width: auto;
  }
  .nav-menu {
    display: flex;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    border-radius: 9999px;
    max-width: 360px;
    background-color: var(--body-color);
    text-decoration: none;
  }
  .nav-title {
    display: none;
  }
  .nav-icon {
    display: block;
  }

  .nav_links::before {
    display: none;
  }
  .nav_links title {
    display: none !important;
  }

  .navbar.scrolled {
    display: none !important;
  }
}
