.social-media {
  position: fixed;
  z-index: 50;
}
.menu-item {
  display: flex;
  height: 100vh;
  width: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.menu-item li {
  display: flex;
  justify-content: center;
  font-size: var(--normal-font-size);
}
.menu-icon {
  display: none;
}

.menu-item a {
  color: var(--text-color);
  text-decoration: none;
}

.menu-item a:hover {
  color: var(--title-color);
}
@media screen and (max-width: 768px) {
  .social-media {
    padding: 5px;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    padding: 10px 10px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
  }
  .menu-item {
    align-items: baseline;
    flex-direction: unset;
  }
  .menu-item .hidden {
    visibility: hidden;
  }
  .menu-item li {
    transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
    position: absolute;
  }
  .social-media li:nth-child(1).show {
    transform: translate(-20%, 200%) rotate(0deg);
  }
  .social-media li:nth-child(2).show {
    transform: translate(-20%, 350%) rotate(0deg);
    /* transform: translate(-250%, 100%) rotate(-20deg); */
  }
  .social-media li:nth-child(3).show {
    transform: translate(-20%, 500%) rotate(0deg);
    /* transform: translate(-150%, 170%) rotate(-20deg); */
  }
  .social-media li:nth-child(4).show {
    transform: translate(-20%, 650%) rotate(0deg);
    /* transform: translate(-170%, 40%) rotate(-20deg); */
  }
}
